* {
    margin: 0;
    padding: 0%;
    border: 0;
}

body {
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

h1, h2, h3 {
    font-family: anton, sans-serif;
    font-weight: 400;
    padding-bottom: 5%;
}

h1 {
  font-size: 2rem;
}

a {
  color: #368dc4;
  text-decoration: none;
  transition: 0.4s;
}

p, li{
  padding-bottom: 3%;
}

ol {
  padding: 0 5%;
}

button {
  font-size: 1.5rem;
  transition: 0.4s;
  cursor: pointer;
}

/*START NAVIGATION*/

nav {
    background-color: #1e2021;
}

.thumb {
      width: 4.5%;
      float: left;
      padding: 6px 0 6px 5px;
      min-width: 33px;
      max-width: 55px;
  }

  .logo {
    width: 14%;
    padding: 6px 0;
    float: left;
    min-width: 105px;
    max-width: 157px;
}

.topnav {
    background-color: #1e2021;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  
  .active {
    background-color: #e97c34;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e2021;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
 
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #a1a7a8;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #a1a7a8;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 800px) {
    .topnav a, .dropdown .dropbtn {
      display: none;
    }
    
    .topnav a.icon {
      float: right;
      display: block;
    }

    .thumb {
      padding: 10px 0 10px 5px;
    }

    .logo {
      padding: 10px 0;
    }
  
    .topnav.responsive {
      position: relative;
    }

    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 2%;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
    }

    .topnav.responsive .dropdown {
      float: none;
    }

    .topnav.responsive .dropdown-content {
      position: relative;
      background-color: #353636;
    }

    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  /*END NAVIGATION*/


/*MOBILE HERO START*/

#hero-desktop {
  display: none;
}

#hero-mobile {
  text-align: center;
  background-image: url(img/happydog1.png);
  background-size: cover;
  background-position: center;
  height: 800px;
}

#hero-mobile h1 {
  color: white;
  font-size: 3rem;
  width: 303px;
  margin: 0 auto;
  position: relative;
  top: 6%;
  padding-bottom: 0;
}

#hero-mobile h3 {
  color: #a1a7a8;
  position: relative;
  top: 60%;
  letter-spacing: .5pt;
  padding-bottom: 0;
}

#hero-mobile .adopt {
  width: 205px;
  padding: 3%;
  background-color: #235b99;
  color: white;
  font-weight: 600;
  position: relative;
  top: 62%;
}

#hero-mobile .adopt:hover {
  background-color: #3ca3ce;
}

/*MOBILE HERO END*/


/*MOBILE SERVICES START*/

#services-desktop {
  display: none;
}

#services-mobile button, #services-desktop button {
  width: 100%;
  padding: 5%;
  color: white;
  font-family: anton, sans-serif;
  font-weight: 400;
  letter-spacing: .5pt;
  font-size: 2rem;
}

#services-mobile .daycare, #services-desktop .daycare {
  background-color: #368dc4;
}

#services-mobile .daycare:hover, #services-desktop .daycare:hover {
  background-color: #3ca3ce;
}

#services-mobile .sitting, #services-desktop .sitting {
  background-color: #e97c34;
}

#services-mobile .sitting:hover, #services-desktop .sitting:hover {
  background-color: #a1a7a8;
}

#services-mobile .concierge, #services-desktop .concierge {
  background-color: #235b99;
}

#services-mobile .concierge:hover, #services-desktop .concierge:hover {
  background-color: #368dc4;
}

#services-mobile .taxi, #services-desktop .taxi {
  background-color: #3ca3ce;
}

#services-mobile .taxi:hover, #services-desktop .taxi:hover {
  background-color: #a1a7a8;
}

/*MOBILE SERVICES END*/


/*DESCRIPTION & ADDITIONALS START*/

#description {
  padding: 5%;
}

#description span {
  color: #e97c34;
}

.cat1 {
  display: none;
}

#additional img {
  width: 100%;
}

#support {
  background-color: #235b99;
  color: white;
  text-align: center;
  padding: 25% 0;
  font-size: 2rem;
}

#support .donate {
  background-color: #e97c34;
  color: white;
  padding: 2% 9%;
  font-size: 1.5rem;
}

#support .donate:hover {
  background-color: #a1a7a8;
}

#connect {
  background-color: #368dc4;
  color: white;
  text-align: center;
  padding: 25% 0;
  font-size: 2rem;
}

/*DESCRIPTION & ADDITIONALS END*/



/*DESKTOP LAYOUT START*/


@media screen and (min-width: 801px) {
  #hero-mobile {
    display: none;
  }

  #services-mobile {
    display: none;
  }

  #hero-desktop {
    display: block;
    text-align: right;
    background-image: url(img/happydog2.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 7%;
  }
  
  #hero-desktop h1 {
    color: white;
    font-size: 4rem;
    top: 6%;
    padding-bottom: 0;
  }
  
  #hero-desktop h3 {
    color: #1e2021;
    letter-spacing: .5pt;
    padding-bottom: 0;
    font-size: 2rem;
  }
  
  #hero-desktop .adopt2 {
    width: 250px;
    padding: 2%;
    background-color: #235b99;
    color: white;
    font-weight: 600;
    position: relative;
    top: 55%;
  }
  
  #hero-desktop .adopt2:hover {
    background-color: #3ca3ce;
  }

  #services-desktop {
    display: flex;
    justify-content: center;
    padding: 0 5%;
  }

  #services-desktop figure {
    width: 25%;
    text-align: center;
  }

  #services-desktop figure img {
    width: 100%;
  }

  #services-desktop figure button {
    font-size: 0.92rem;
  }

  #description {
    font-size: 14pt;
  }

  #additional {
    display: flex;
    justify-content: center;
  }

  #additional img {
    width: 30%;
  }
}

@media screen and (min-width: 1300px) {
  #description-container {
    display: flex;
  }

  #description {
    padding-right: 2%;
  }

  .cat1 {
    display: block;
    padding-right: 2%;
  }
  
  .cat1 img {
    position: relative;
    top: 15%;
  }

  #support, #connect {
    padding: 15%;
  }

  #services-desktop figure button {
    font-size: 1.2rem;
  }
}


/*START FOOTER*/

footer {
  background-color: #1e2021;
  color: white;
  font-size: 12pt;
  text-align: center;
  padding: 7% 5% 5% 5%;
}

/*************************************************************************************/

/*SERVICES PAGE CSS START*/

/*MOBILE SERVICES HERO START*/

#services-hero {
  text-align: center;
  background-image: url(img/happycat.png);
  background-size: cover;
  background-position: 20% center;
  height: 800px;
}

#services-hero h1 {
  color: white;
  font-size: 3rem;
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 6%;
  padding-bottom: 0;
}

#services-hero .quote {
  width: 205px;
  padding: 3%;
  background-color: #235b99;
  color: white;
  font-weight: 500;
  position: relative;
  top: 62%;
}

#services-hero .quote:hover {
  background-color: #3ca3ce;
}

/*MOBILE SERVICES HERO END*/



/*SERVICES DETAILS START*/

.blurb {
  color: white;
  font-weight: 600;
  background-color: #3ca3ce;
  padding: 2% 5%;
}

#container {
  padding-bottom: 10%;
  background-image: url(img/pawprint.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.accordion {
  background-color: #235b99;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

.accordion span {
  float: right;
}

.selected, .accordion:hover {
  background-color: #e97c34;
}

.mb {
  background-color: #368dc4;
}

.lb {
  background-color: #3ca3ce;
}

.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  font-size: 12pt;
  padding: 3%;
}

.panel a {
  color: #e97c34;
}

/*SERVICES DETAILS END*/

/*BENEFITS SECTION START*/

.benefits {
  background-color: #e97c34;
  color: white;
}

.benefits h1 {
  color: white;
}


/*SERVICES DESKTOP LAYOUT START*/

@media screen and (min-width: 801px){
  #container {
    display: flex;
    padding: 0 5% 10% 5%;
  }

  .blurb {
    margin-bottom: 3%;
  }

  #service-details {
    width: 40%;
  }

  #container #description-container {
    display: block;
    width: 60%;
  }

  #container #description-container #description {
    padding-top: 0;
  }

  #services-hero {
    text-align: right;
    height: 500px;
    padding: 7%;
  }
  
  #services-hero h1 {
    font-size: 4rem;
    top: 6%;
    width: 100%;
    padding-bottom: 0;
  }
  
  #services-hero .quote {
    width: 250px;
    padding: 2%;
    font-weight: 500;
    position: relative;
    top: 8%;
  }
}

/*SERVICES PAGE CSS END*/



/*************************************************************************************/

/*DONATE PAGE CSS START*/

/*MOBILE DONATE HERO START*/

#donate-hero {
  text-align: center;
  background-image: url(img/saddog.png);
  background-size: cover;
  background-position: 40% center;
  height: 800px;
}

#donate-hero h1 {
  color: white;
  font-size: 3rem;
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  padding-bottom: 0;
}

#donate-hero h3 {
  color: #1e2021;
  position: relative;
  top: 70%;
  letter-spacing: .5pt;
  padding-bottom: 0;
}

/*MOBILE DONATE HERO END*/

.blurb2 {
  color: white;
  font-weight: 600;
  background-color: #235b99;
  padding: 2% 5%;
}

#donations figure {
  padding: 5%;
  text-align: center;
}

#donations figure img {
  width: 100%;
}

#donations figure figcaption {
  padding-top: 2%;
  text-align: left;
}

#disclaimer {
  padding: 5%;
  color: #a1a7a8;
  font-size: 10pt;
}

@media screen and (min-width: 801px) {
  #donate-hero {
    text-align: right;
    height: 500px;
    padding: 7%;
  }
  
  #donate-hero h1 {
    font-size: 4rem;
    top: 6%;
    width: 100%;
    padding-bottom: 0;
  }
  
  #donate-hero h3 {
    letter-spacing: .5pt;
    padding-bottom: 0;
    font-size: 2rem;
    top: 8%;
  }

  #donations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #donations figure {
    width: 40%;
  }

  #donations figure img {
    max-width: 450px;
  }

  #donations figure .seal {
    max-width: 250px;
  }
}